{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
<div style=' background-color:#0b4c4c; overflow:hidden;'>
  <div class='container'>
    <div class='row'>
      <div class='span12'>
 <img src='{% static 'img/overview.jpg' %}' alt=''>
        <div class='block-slogan'>


        <h2>Vision</h2></div>
        <p style='color:#d3d3d3; font-size:16px;'>Let the shroud of darkness be lifted by the beacon of light through the blazing torch of education.Our mission is to develop young individuals who are active and creative, empathetic & compassionate, courageous but composed and passionate to society.We believe the veil of ignorance should be raised by expansion of knowledge, exploration of capabilities and harnessing of energy.</p>
        <p style='color:#d3d3d3; font-size:16px;'>Young minds are impressionable -What they learn,they follow the same. If good values are imbibed at the right time, then a child becomes spiritually, morally and intellectually blessed. They not only become treasures of society but they create a hope for Utopia.</p>
        <p style='color:#d3d3d3; font-size:16px;'>By the next three years, the school will help students become entrepreneurs to that they become part of skilled India and lead India independently.The School has demonstrated tremendous growth, commitment to quality and a unique and fresh approach to education and has established in the District with cent percent results at Std.XII & Std. X examination for many consecutive years. School has also won the most prestigious ‘International School Award’ [ISA] from British Council for the year 2013-16.The school offers opportunities to students to showcase their talent through exhibitions, annual celebrations and house functions. Dance, Music (vocal as well as instrumental), Art & Sculpture are some of the engaging activities offered to the students, during their school years..</p>



     </div>
    </div>


  </div>
</div>

{% endblock %}
